.franquicias_titulo {
    text-align: center;
    margin: 1em 2em;
}

.presentacion_franquicias {
    @extend.franquicias_titulo;
    height: auto;
    text-align: center;
}


.comunicacion {
    width: 47%;
    height: auto;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 1.25% 1.25%;
}

.comunicacion-icono {
    border-radius: 100%;
    outline: solid 3px;
    outline-color: black;
    outline-offset: 5px;
    margin: 5px 5px;
}

.newsletter {
    width: 47%;
    height: auto;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 1.25% 1.25%;
}


.newsletter-icono {
    border-radius: 100%;
    outline: solid 3px;
    outline-color: black;
    outline-offset: 5px;
    margin: 5px 5px;
}

.consejos {
    width: 47%;
    height: auto;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 1.25% 1.25%;
}

.consejos-icono {
    border-radius: 100%;
    outline: solid 3px;
    outline-color: black;
    outline-offset: 5px;
    margin: 5px 5px;
}

.stock {
    width: 47%;
    height: auto;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 1.25% 1.25%;

}


.stock-icono {
    border-radius: 80%;
    outline: solid 3px;
    outline-color: black;
    outline-offset: 5px;
    margin: 5px 5px;
    ;

}


.formulario-informacion {
    text-align: center;
    font-size: 2em;
    height: auto;
    width: 25%;
    margin: 5em 37.5% 0 37.5%;
}