.indice-franquicias {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.25% 1.25%;

}

@mixin sizes ($width, $height) {
    width: $height;
    height: $height;

}

.compra_mayor {
    margin: 2em 2%;
    text-align: center;
    justify-content: center;
}

.locales-icono {
    @include sizes(20em, 20em);
}

.franquicias-icono {
    @include sizes(140px, 140px);
    border-radius: 100%;
    outline: solid 3px;
    outline-color: black;
    outline-offset: 5px;
    margin: 5px 5px;
}


.font_white {
    color: white;
}


.padding-index {
    margin-top: 2em;
}

.listaFranquicias{

        padding-top: 20px   ;
}