.locales_titulo{
	text-align: center;
	margin: 1em ;

}

.locales{
	margin: 0 2%;
	width: auto;
	text-align: center;
}

.locales_rotula{
	display: inline-block;
	margin: 2em 0 ;

}

.icono_instagram_locales {
	 height: 13%;
	 width: 13%;
}

.icono_facbook_locales{
	 height: 13%;
	 width: 13%;

}
.rotula_flores{
	display: inline-block;
	text-align: center;
	margin: 1.25% 1.25%;
	width: 47%;
}

.rotula_formosa{
	display: inline-block;
	text-align: center;
	margin: 1.25% 1.25%;
	width: 47%;
}